# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.env
venv/
.venv/
.ipynb_checkpoints/

# -------------------------
# Uploads & Generated Results
# -------------------------
backend/uploads/
backend/results/

# -------------------------
# Dataset
# -------------------------
data/
*.csv

# -------------------------
# Node.js / React
# -------------------------
node_modules/
dist/
build/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Temporary Files
# -------------------------
*.tmp
*.bak